.resultContainer {
	background-color: var(--ifm-color-emphasis-200);
	min-height: 450px;
}

.resultDescriptionContainer {
	margin-bottom: 1.5em;
}

/** In mobile view, reduce the padding */
@media screen and (max-width: 996px) {
	.folder1 {
		margin-bottom: 1em;
	}

	.resultContainer {
		min-height: 820px;
	}
}
