.howContainer {
	/* display: flex; */
	padding-top: 4rem;
	padding-bottom: 4rem;
	font-family: 'Ubuntu Mono', monospace;
}

.howHeader {
	font-family: 'Ubuntu Mono', monospace;
}

.howRow {
	display: flex
}

.howCol {
	width: 50%;
}

.howStep {
	font-family: 'Ubuntu Mono', monospace;
	color: grey;
	margin-top: 5px;
	margin-bottom: 5px;
}
