.editorContainer {
	padding: 20px;
	border-radius: 10px;
	border: 1px solid;
}

.editorContainerLight {
	border-color: #d9d9d9;
}

.editorContainerDark {
	border-color: #424242;
}

/* .editorLanguageSelect {
	background-color: #1e1e1e;
	border-color: #424242;
	color: white;
	width: 250px;
}

.editorLanguageSelectOptions {
	background-color: #1e1e1e;
	border-color: #424242;
	color: white;
	width: 250px;
} */

