.templateContainer {
	background-color: var(--ifm-color-emphasis-200);
	min-height: 500px;
}

.header {
	font-family: monospace;
	position: relative;
	font-size: 2rem;
	margin-bottom: 1em;
}

@media screen and (max-width: 996px) {
	.templateContainer {
		min-height: 680px;
	}

	.reverse {
		order: 2;
	}
}
