.templateOptions {
	display: flex;
	justify-content: space-between;
}

.templateOption {
	display: flex;
	flex-direction: column;
	width: 49%;
	padding: 20px;
	border: 1px solid grey;
	border-radius: 10px;
	/* box-shadow: 2px 2px 4px #c6c3c3; */
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3)
}


[data-theme='dark'] .templateOption {
	/* border-color: 1px solid rgba(0,0,0,0.3); */
	box-shadow: none;
}



.templateOption p {
	flex-grow: 1;
}

.templateOption:first-child {
	margin-right: 15px;
}

.btn {
	cursor: pointer;
	background-color: var(--ifm-color-primary);
	border-radius: 5px;
	color: white;
	padding: 5px 15px;
	font-size: 18px;
}

.btn:hover {
	background-color: var(--ifm-color-primary-darker);
	color: white;
}


@media screen and (max-width: 996px) {
	.templateOptions {
		display: block;
	}

	.templateOption {
		width: 100%;
		margin-bottom: 15px;
	}
  }
